* {
	padding: 0;
	margin: 0;
} 

body {
	background: #fff;
	font: 16px/125% "Garamond" "Georgia" "Times" serif
	/* font-family: serif;
	font-size: 16px;
	line-height: 20px; 

	font-family: 'Playfair Display SC', serif;

	font-family: 'Marmelad', sans-serif;

	font-family: 'Forum', cursive;

	font-family: 'Alegreya SC', serif;

	font-family: 'Chonburi', cursive;

	font-family: 'Abril Fatface', cursive;


	*/
	color: #333333;
}

/* img { border: none; } */
img { 
	border: none; 
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

a {
	color: #0F0FFF;
}

#wrap {
	/* width: 1080px; */
	width: auto;
	margin: 20px auto;
}

#header h1 {
	padding: 0 0 0 20px;
	font-size: 1.25em;
	letter-spacing: -2px;
	color: #700000;
}

#header h1 a {
	/* color: #2B448C; */
	color: #700000;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
	color: #000;
}

#header h2 {
	padding-left: 10px;
	font-size: 0.875em;
	color: #666;
	font-weight: 500;
}

#top {
	background: #fff no-repeat;
	padding: 5px 0;
}

#menu {
	height: 60px;
	line-height: 50px;
	/* background: #0000FF;  deep blue from PWMU site */
	/* background: #431a54;  purple as shadow of cross */
	/* background: #18596B;  grey-green of welcome banner */
	/* background: #D2141E;  Red for Christmas 2015 */ 
	/* background: #700000;  /* Burgundy */
	font-size: 1.25em;
}
#menu ul {
	padding-left: 24px;
	list-style-type: none;
}
#menu ul li {
	display: block;
	float: left;
}
#menu ul li a {
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
	font-weight: 600;
}
#menu ul li a:hover {
	color: #00FF00;
	text-decoration: underline;
}
#menu ul li a:visited {
	color: #FF00FF;
	text-decoration: underline;
}
#menu .current {
    font-size: 1em;
	background: #2B448C;
}

#content {
	padding: 10px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #18596B;
}

.base {
	position: absolute;
	height: 100%;
	width: 100%;
}


.base h3 {
	/* use for prayers & announcements heading block left align */
	padding: 0;
	font-size: 12px, "Times New Roman";
	color: #666;
	font-weight: bold;
	text-align: left;
}

.base h4 {
	/* use for prayers & announcements body block to align left*/
	padding: 0;
	font-size: 12px, "Times New Roman";
	color: #666;
	font-weight: bold;
	text-align: left;
}


.oos {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.oos ul {
	flex: 1;
}

.oos p {
	flex: 2;
}

.oos h3 {
	/* use for sermon notes heading block to be centred */
	padding: 0;
	font-size: 12px, "Times New Roman";
	color: #666;
	font-weight: bold;
	text-align: center;
}

.oos h4 {
	/* use for sermon notes body block to align left*/
	padding: 0;
	font-size: 12px, "Times New Roman";
	color: #666;
	font-weight: bold;
	text-align: left;
}

#scripture {
	background: #F9D298;
	font-size: 0.75em;
	text-align: right;
	text-decoration: italic;
	/* width: 580px; */
	width: 50%;
	padding: 0 0;
	border: none;
}	

#sermons {
	/* width: 530px; */
	width: 50%;
	border: none; 
	padding: 20px 20px 10px 10px;
	overflow: hidden;
}

#sermons td {
	font-size: 0.75em;
	border: none;
	padding: 3px 7px 2px 7px;
}

#sermons th {
	font-size: 0.75em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #2B448C;
	color: #ffffff;
}

#sermons tr.alt td {
	color: #000000;
	background-color: #2B448C;
}

/****** BUGGY CSS? ******/
#sermons tr
#sermons td.alt td {
	/* width: 306px;
	width: 274px; */
	width: 32%;
	width: 28%;	
}

a:link {
	/* color: #0005F7; */
	color; #0000EE;
}

a:visited {
	/* color: #FF00FF; */
	color; #551A8B;
}

a:hover {
	color: #00FF00;
}

.right {
	float: right;
	width: 25%;
	/* width: 200px; */
	text-align: justify;
	padding: 0 20px 10px 10px;
}

.right h2 {
	/* color: #0000EF; */
	color: #700000;
	font-size: 1em;
	font-weight: 500;
	padding : 10px 0 15px 0;
}

.right h2 a:hover {
	color: #0000FF;
}

.right table {
	width: 100%;
}
.right table img {
	margin: auto;
}
.right p {
	padding-top: 10px;
}

.middle {
	float: left;
	width: 60%;	
	/* width: 560px;
	text-align: justify; */
	padding: 5px 5px 5px 5px;
	margin-left: auto;
	/* margin-left: 230px; */
	overflow: hidden;
}

.middle h2 {
	color: #700000;
	font-size: 1em;
	font-weight: 500;
	padding : 5px 5px 5px 5px;
}

.middle h2 a:hover {
	color: #0000FF;
}

.middle table {
	width: 100%;
}
.middle table img {
	margin: auto;
}
.middle p {
	padding-top: 10px;
}

.left {
	float: left;
	width: 15%;
	/* width: 200px; reduced from 20% as 200px to 15% padding down from 10 to 5px */
	padding: 5px;

	/* border-right: 1px solid #aaa;  */
}

.left h2 {
	font-size: 0.9375em;
	color: #700000;
	padding: 5px 0 2px 10px;
}
.left ul {
	list-style-type: none;
	padding: 5px 0 10px 5px;
}
.left ul li {
	padding: 2px 20px;
	background: transparent no-repeat;
}

.left ul li a {
	display: block;
	color: #444;
}
.left ul li a:hover {
	color: #33BFEB;
}

#bottom {
	background: #fff no-repeat;
	text-align: center;
	padding: 10px 0;
}

#footer {
	text-align: center;
	width: 95%;
	/* width: 960px; */
	color: #666;
	font-size: 0.6875em;
}

#footer a {
	color: #666;
}
