<a href="Sermons_Leadership.html"> <img src="/images/Leadership_Word_300.png" width="150" alt="Leadership &amp; the Word of God"></a>
<a href="Sermons_Holy_Spirit.html" img src="/images/The_Holy_Spirit_300.png" width="150" alt="What's This About The Holy Spirit"></a>
<a href="Sermons_Sumarno.html"> <img src="/images/stone_cross_suffering_300.png" width="150" alt="Suffering &amp; the People of God"></a>
<a href="Sermons_Matthew.html"> <img src="/images/matthew_300x225.png" width="150" alt="The Saviour King"></a>
<a href="Sermons_Beatitudes.html"> <img src="/images/beatitudes_200.png" width="150" alt="The Beatitudes"></a>
<a href="Sermons_Samples.html"> <img src="/images/psalms_300x225.png" width="150" alt="Sampling The Psalms"></a>

<a href="Sermons_Samples.html"> <img src="https://www.dropbox.com/s/aftsicxvbkqxaae/psalms_300x225.png?dl=0" width="150" alt="Sampling The Psalms"></a>
<a href="Sermons_Matthew.html"> <img src="https://www.dropbox.com/s/2pxh6j0skfgh2qr/matthew_300x225.png?dl=0" width="150" alt="The Saviour King"></a>
<a href="Sermons_Holy_Spirit.html"> <img src="https://www.dropbox.com/s/jintl1q1a5pd0rp/The_Holy_Spirit_300.png?dl=0" width="150" alt="What's This About The Holy Spirit"></a>
<a href="Sermons_Leadership.html"> <img src="https://www.dropbox.com/s/webuzt2t95d6epu/Leadership_Word_300.png?dl=0" width="150" alt="Leadership &amp; the Word of God"></a>
<a href="Sermons_Beatitudes.html"> <img src="https://www.dropbox.com/s/11ypn3h6jwf60ql/beatitudes_200.png?dl=0" width="150" alt="The Beatitudes"></a>
<a href="Sermons_Sumarno.html"> <img src="https://www.dropbox.com/s/8e3rxgiic3m9jdl/stone_cross_suffering_300.png?dl=0" width="150" alt="Suffering &amp; the People of God"></a>
