<a href="Sermons_Leadership.html"> <img src="/images/Leadership_Word_300.png" width="150" alt="Leadership &amp; the Word of God"></a></p>
<br>
<a href="Sermons_Holy_Spirit.html" img src="/images/The_Holy_Spirit_300.png" width="150" alt="What's This About The Holy Spirit"></a>
<a href="Sermons_Sumarno.html"> <img src="/images/stone_cross_suffering_300.png" width="150" alt="Suffering &amp; the People of God"></a><br>
<a href="Sermons_Matthew.html"> <img src="/images/matthew_300x225.png" width="150" alt="The Saviour King"></a><br>
<a href="Sermons_Beatitudes.html"> <img src="/images/beatitudes_200.png" width="150" alt="The Beatitudes"></a>
<a href="Sermons_Samples.html"> <img src="/images/psalms_300x225.png" width="150" alt="Sampling The Psalms"></a><br>
