<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{page.title}}</title>
<meta name="language" content="English">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="style.css" media="screen">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss-articles/">
</head>
<body>

<div id="wrap"> 

<div id="header">
<img src="/images/APC_Banner_960.png" alt="Ashburton Presbyterian Church Melbourne">


</div>

<div id="top"> </div>

<div id="menu">
<ul>
<li>{% include a href="/index.html"%}Home</a></li>
<li>{% include a href="/New.html"%}What's Next?</a></li>
<li>{% include a href="/Who_We_Are.html"%}Who We Are</a></li>
<li>{% include a href="/Activities.html"%}What We Do</a></li>
<li>{% include a href="/Sermons.html"%}Sermon Audios</a></li>
</ul>
</div>
<div id="content"> 
<div class="left">

</div>

<div class="middle">
{{ content }}

</div>

<div class="right">
<h2>Services: Sunday 10am</h2>
<h3>Communion: 1st Sunday each Month</h3>
<h3>1 High Street Road, Ashburton 3147</h3>

<h2>Contact Us</h2>
<h3> Email: pastor@ashburtonpc.org.au<h3>
<h3>Phone: 0412 714 040</h3>

<h2>Find Us</h2>
<p><b>Map &amp; directions</b></p>

<h3>Postal Address:</h3>
<h4>P O Box 190</h4>
<h4>Burwood, Victoria, 3125</p>

</div>

<div style="clear: both;"> </div>

</div><div id="bottom"> </div>

<div id="footer">
<p>&copy; Website Copyright 2015 by Ashburton Presbyterian Church, Victoria</p>
<p>Design by <a href="http://www.free-css-templates.com/">Free CSS Templates</a> - Thanks to <a href="http://www.openwebdesign.org/">custom web design</a></p></div>
</div>
</body>
</html>
