<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{page.title}}</title>
<meta name="language" content="English">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="style.css" media="screen">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss-articles/">
</head>
<body>

<div id="wrap"> 

<div id="header">
<img src="https://www.dropbox.com/s/3dwlaa41icbw7qw/APC-Banner_960.png?dl=0" alt="Ashburton Presbyterian Church Melbourne">


</div>

<div id="top"> </div>

<div id="menu">
<ul>
<li>{% include a href="/index.html"%}Home</a></li>
<li>{% include a href="/Next.html"%}What's Next?</a></li>
<li>{% include a href="/Who_we_are.html"%}Who We Are</a></li>
<li>{% include a href="/Activities.html"%}What We Do</a></li>
<li>{% include a href="/Sermons_Landing.html"%}Sermon Audios</a></li>
</ul>
</div>
<div id="content"> 

<div class="left">
<h2>Services: Sunday 10am</h2>
<h3>Communion:<br>1st Sunday each Month</h3>
<br>

<h2>Find Us</h2>

<h3>1 High Street Road<br>Ashburton 3147</h3>
<br>
<h3><b><a href="Find_Us.html"> Map &amp; directions</a></b></h3>
<br>
<br>

<h2>Contact Us</h2>
<h3> Email: pastor@ashburtonpc.org.au</h3>
<br>
<h3>Phone: 0412 714 040</h3>
<br>
<h3>Postal Address:</h3>
<h4>P O Box 190 Burwood, Vic, 3125</h4>

</div>


<div class="sermons">

{{ content }}

</div>


<div style="clear: both;"> </div>

</div><div id="bottom"> 
<br>
</div>

<div id="footer">
<p>&copy; Website Copyright 2015 by Ashburton Presbyterian Church, Victoria</p>
<p>Design adapted from a template by <a href="http://www.free-css-templates.com/">Free CSS Templates</a></p>
<p>Thanks to <a href="http://www.openwebdesign.org/">custom web design</a></p>
</div>

</div>
</body>
</html>
